@model PlanificacionGestionEventos.Models.Invitacion

<h2>Invitar persona</h2>

<form asp-action="Create">

    <input type="hidden" asp-for="EventoId" />

    <div>
        <label>Correo del invitado</label>
        <input asp-for="CorreoInvitado" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Enviar invitación
    </button>

</form>