@model PlanificacionGestionEventos.Models.Invitacion

<h2>Confirmar asistencia</h2>

<form asp-action="Edit">

    <input type="hidden" asp-for="InvitacionId" />

    <div>
        <label>Estado</label>

        <select asp-for="Estado" class="form-control">
            <option value="0">Pendiente</option>
            <option value="1">Confirmado</option>
            <option value="2">Rechazado</option>
            <option value="3">Tal vez</option>
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-success">
        Guardar
    </button>

</form>