@model IEnumerable<PlanificacionGestionEventos.Models.Invitacion>

<h2>Invitaciones</h2>

<table class="table">
    <thead>
        <tr>
            <th>Evento</th>
            <th>Correo Invitado</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Evento?.Nombre</td>
                <td>@item.CorreoInvitado</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InvitacionId">Editar</a>
                </td>
            </tr>
        }

    </tbody>
</table>