@model IEnumerable<PlanificacionGestionEventos.Models.Invitacion>

<h2>Invitaciones</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Crear Invitación
    </a>
</p>

<table class="table">

    <thead>
        <tr>
            <th>Correo Invitado</th>
            <th>Evento</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.CorreoInvitado</td>
                <td>@item.Evento?.Nombre</td>
                <td>@item.Estado</td>

                <td>

                    <a asp-action="Delete"
                       asp-route-id="@item.InvitacionId"
                       class="btn btn-danger">
                        Eliminar
                    </a>

                </td>

            </tr>
        }

    </tbody>

</table>