@model PlanificacionGestionEventos.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>
<p>Resumen de tu actividad de eventos</p>

<div class="row mt-4">

    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Eventos</h5>
                <h2>@ViewBag.TotalEventos</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Invitaciones</h5>
                <h2>@ViewBag.TotalInvitaciones</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Rechazados</h5>
                <h2>@ViewBag.Rechazados</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h5 class="card-title">Confirmados</h5>
                <h2>@ViewBag.Confirmados</h2>
            </div>
        </div>
    </div>
</div>